<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.jdt.junit.testRunListeners">
    <testRunListener class="name.miller.arduinounit.ArduinoUnitTestRunListener"/>
  </extension>
  <extension point="org.eclipse.ui.preferencePages">
      <page id="name.miller.arduinounit.ArduinoUnitPreferences"
           class="name.miller.arduinounit.ArduinoUnitPreferences"
           name="ArduinoUnit">
      </page>
  </extension>
</plugin>
